*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display",serif;

}
a{
    text-decoration: none;
}
#header-phone{
    display: none;
}
.cat{
    display: none;
}