@import '_reset.scss';
@import '_media.scss';

header{
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    .left{
        img{
            width: 75%;
        }
    }
    .right{
        text-align: right;
        a{
            text-decoration: none;
            color: #1b1b1b;
            font-size: 12px;
            font-weight: 500;
            line-height: 22px;
            margin-left: 50px;
            opacity: 0.8;
            position: relative;
        }
        a::after{
            content: "";
            position: absolute;
            left: 0px;
            top: 15px;
            width: 0px;
            height: 2px;
            background-color: black;
            transition: .3s;
            opacity: 0.8;
        }
        a:hover::after{
            width: 100%;
        }
        i{
            color: #1b1b1b;
            font-size: 19px;
            line-height: 19px;
            margin-left: 20px;
            opacity: 0.9;
            transition: .3s;
            position: relative;
            &:hover{
                color: #f34f3f;
            } 
        }
        i.first:after{
            content: "0";
            position: absolute;
            bottom: 12px;
            left: 7px;
            font-size: 10px;
            bottom: 12px;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            opacity: 0.8;
            color: white;
            background-color: red;
            border-radius: 50%;
        }
        span{
            color: #1b1b1b;
            font-size: 14px;
            line-height: 19px;
            margin-left: 20px;
            opacity: 0.9;
        }
    }
}
#first{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/02/00/14/cactus-2568941_960_720.jpg");
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
    h1{
        font-size: 41px;
        font-weight: 400;
        line-height: 52px;
        span{
            color: #f34f3f;
        }
    }
}
.fixed{
    position: fixed;
    right: 0;
    top: 400px;
}
.fixed i{
    color: #FFFFFF;
    background-color: crimson;
    border: 1px solid crimson;
    padding: 10px 10px;
    font-size: 20px;
    opacity: .8;
    cursor: pointer;
}
.cart{
    position: fixed;
    right: 0;
    top: 450px;
}
.cart i{
    color: red;
    background-color: #FFFFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px 10px;
    font-size: 19px;
    opacity: .8;
    cursor: pointer;
}
#second{
    .all{
        margin-left: 20px;
    }
    .left{
      a{
          text-decoration: none;
          color: #1b1b1b;
          opacity: 0.8;
          font-weight: 500;
          font-size: 12px;
          line-height: 24px;
          margin-left: 20px;
          transition: .3s;
          &:hover{
              color: #f34f3f;
          }
      } 
    }
    .right{
        a{
          text-decoration: none;
          color: #1b1b1b;
          opacity: 0.8;
          font-weight: 500;
          font-size: 12px;
          line-height: 24px;
          margin-right: 10px;
          text-align: right;
        }
    }
    .bottomall{
        .bottom{
            a{
                text-decoration: none;
                color: #1b1b1b;
                opacity: 0.8;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
            }
            span{
                color: #1b1b1b;
                opacity: 0.5;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                transition: .3s;
                &:hover{
                    color: #f34f3f;
                    opacity: 1;
                    cursor: pointer;
                }
            } 
        }
           .box{
            transition: .1s;
               .top{
                overflow: hidden;       
               }
               
               &:hover{
                   img{
                       transform: scale(1.1);
                   }
               }
           }
    }
    }
    #three{
        background-color: #f7f7f7;
        padding: 5rem 0;
        .all{
            .left{
                overflow: hidden;
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    #four{
        .top{
            h2{
                font-size: 35px;
                line-height: 55px;
            }
        }
        .bottom{
            h6{
                text-decoration: none;
                color: #1b1b1b;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
            }
            span{
                color: #1b1b1b;
                opacity: 0.5;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
    #fifth{
        background-image: url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg");
        padding: 10rem 0;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        form{
            input{
                padding: 13px 18px;
                width: 30%;
            }
            button{
                padding: 13px 42px;
                color: #fff;
                background-color: #f34f3f;
                border: 1px solid transparent;
                cursor: pointer;
                margin-left: -5px;
            }
        }
    }
    #sixth{
        background-color: #f7f7f7;
        h2{
            text-decoration: none;
            color: #1b1b1b;
            font-weight: 500;
            font-size: 32px;
            line-height: 24px;
        }
        p{
            color: #1b1b1b;
            opacity: 0.8;
            font-weight: 500;
            font-size: 17px;
            line-height: 29px;
        }
        .bottom{
            .box{
                .bottomm{
                    a{
                        font-size: 22px;
                        color: #2b2b2b;
                        text-decoration: none;
                    }
                }
           
            }
        }
        .box{
           .top{
               overflow: hidden;
            img{
                transition: .5s;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
           }
        }
        .bottom{
            .top{
                position: relative;
                span{
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    border: 2px solid white;
                    background-color: white;
                    padding: 0 10px;
                    font-size: 13px;
                    z-index: 1;
                    transition: .3s;
                    &:hover{
                        color: #f34f3f;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #seventh{
        .bottom{
            p{
                color: #4b4747;
                font-family: Lora,serif;
                font-style: italic;
                font-size: 24px;
                line-height: 1.5em
            }
            span.first{
                color: #1b1b1b;
                font-family: Montserrat;
                font-size: 12px;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            span.second{
                font-size: 12px;
                letter-spacing: 0;
                line-height: 24px;
                text-transform: none;
                color: #afafaf;
            }
        }
    }
    #eights{
        background-color: #FEFAF3;
        
            h6{
                font-size: 12px;
                line-height: 2em;
                font-weight: 600;
                letter-spacing: .1em;
                color: #000000;
                margin-bottom: 30px;
            }
            a{
                font-size: 11px;
                color: #8b8b8b;
                text-decoration: none;
                margin-bottom: 7px;
                transition: .3s;
                &:hover{
                    color: #f34f3f;
                }
            }
        
    }
    footer{
        background-color: #FEFAF3;
        padding: 1rem 0;
        .left{
            a{
                color: #6d6a6a;
                text-decoration: none;
                font-size: 12px;
                line-height: 24px;
                transition: .3s;
                &:hover{
                    color: #f34f3f;
                }
            }
            span{
                color: #afafaf;
                font-size: 12px;
                line-height: 24px;
              
            }
            
        }
        .right{
            span{
                font-size: 12px;
                line-height: 24px;
                margin-left: 25px;
                color: #afafaf;
                transition: .3s;
                &:hover{
                    color: #f34f3f;
                    cursor: pointer;
                }
            }
        }
    }




